@model List<ShipSoftball.Models.Schedule>
@{
    ViewBag.Title = "Shippensburg Rec Softball League";
}

<div class="jumbotron">
    <h1>2014 Season Standings</h1>
    <table class="standings">
        <tbody>
            <tr>
                <th>Team</th>
                <th>Record</th>
            </tr>
            <tr>
                <td>SUPD</td>
                <td>4-0</td>
            </tr>
            <tr>
                <td>Grip It and Rip It</td>
                <td>2-1</td>
            </tr>
            <tr>
                <td>Hard Drivers</td>
                <td>2-1</td>
            </tr>
            <tr>
                <td>Probation</td>
                <td>2-1</td>
            </tr>
            <tr>
                <td>Challengers</td>
                <td>2-2</td>
            </tr>
            <tr>
                <td>No One Fights Alone</td>
                <td>0-3</td>
            </tr>

            <tr>
                <td>Ship Fire</td>
                <td>0-3</td>
            </tr>

        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-md-8 alert alert-info">
        <h2>Upcoming Games</h2>
        <table class="rightBorder" style="width: 100%; border: 1px dashed black;">
            <tbody>
                <tr style="border-bottom: 1px solid;">
                    <th>Date</th>
                    <th>Time</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Field</th>
                </tr>
                <tr class="trSearch"><td colspan="5" style="background-color: black;"></td></tr>
                <tr class="trSearch">

                    <td>Sun 6/1/2014</td>
                    <td>3:00 PM</td>
                    <td>Challengers</td>
                    <td>Hard Drivers</td>
                    <td>Field 1</td>

                </tr>
                <tr class="trSearch">

                    <td>Sun 6/1/2014</td>
                    <td>3:00 PM</td>
                    <td>No One Fights Alone</td>
                    <td>SUPD</td>
                    <td>Field 2 (Wires)</td>

                </tr>
                <tr class="trSearch">

                    <td>Sun 6/1/2014</td>
                    <td>4:30 PM</td>
                    <td>Grip it</td>
                    <td>Ship Fire</td>
                    <td>Field 1</td>

                </tr>
                <tr class="trSearch">

                    <td>Sun 6/1/2014</td>
                    <td>4:30 PM</td>
                    <td>Probation</td>
                    <td>Challengers</td>
                    <td>Field 2 (Wires)</td>

                </tr>
                <tr class="trSearch">

                    <td>Sun 6/1/2014</td>
                    <td>6:00 PM</td>
                    <td>SUPD</td>
                    <td>Ship Fire</td>
                    <td>Field 1</td>

                </tr>
                <tr>

                    <td>Sun 6/1/2014</td>
                    <td>6:00 PM</td>
                    <td>Hard Drivers</td>
                    <td>No One Fights Alone</td>
                    <td>Field 2 (Wires)</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Full Schedule</h2>
        <p><a class="btn btn-default" href="/Schedule/">Full Schedule &raquo;</a></p>
    </div>
</div>