@{
    ViewBag.Title = "Shippensburg Rec Softball League";
}

<div class="jumbotron">
    <h1>2014 Season Standings</h1>
    <table class="standings">
        <tbody>
            <tr>
                <th>Team</th>
                <th>Record</th>
            </tr>
            <tr>
                <td>Challengers</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>Grip It and Rip It</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>Hard Drivers</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>No One Fights Alone</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>Probation</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>Ship Fire</td>
                <td>0-0</td>
            </tr>
            <tr>
                <td>SUPD</td>
                <td>0-0</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Upcoming Games</h2>
        <table class="rightBorder" style="width: 100%; border: 1px dashed black;">
            <tbody>
                <tr style="border-bottom: 1px solid;">
                    <td>Date</td>
                    <td>Time</td>
                    <td>Home Team</td>
                    <td>Away Team</td>
                </tr>
                <tr class="trSearch"><td colspan="5" style="background-color: black;"></td></tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>3:00 PM</td>
                    <td>Challengers</td>
                    <td>No One Fights Alone</td>
                </tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>3:00 PM</td>
                    <td>Probation</td>
                    <td>Grip it</td>
                </tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>4:30 PM</td>
                    <td>Hard Drivers</td>
                    <td>SUPD</td>
                </tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>4:30 PM</td>
                    <td>Ship Fire</td>
                    <td>Probation</td>
                </tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>6:00 PM</td>
                    <td>Grip it</td>
                    <td>No One Fights Alone</td>
                </tr>
                <tr class="trSearch">
                    <td>Sun 5/18/2014</td>
                    <td>6:00 PM</td>
                    <td>SUPD</td>
                    <td>Challengers</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <h2>Full Schedule</h2>
        <p><a class="btn btn-default" href="/Schedule/">Full Schedule &raquo;</a></p>
    </div>
</div>